.bgr {
  background-color: #d1e0e9;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 220px;
}

.h1-main {
  margin: 20px;
}

.h-text {
  padding: 12px 0;
  margin: 0 30px;
  color: #000;
  font-size: 16px;
  font-family: "Alegreya", serif;
  letter-spacing: 2px;
}

.main-header h1 a {
  text-decoration: none;
}

.main-header h1 a:visited {
  color: #1098ad;
}

.main-header ul {
  list-style-type: none;
  width: 100%;
  display: flex;
}

.main-header li a {
  padding: 12px 0;
  margin: 0 30px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: "Alegreya", serif;
  letter-spacing: 1px;
}

a:hover {
  color: #1098ad;
  font-weight: bolder;
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 400px;
  font-size: 30px;
  font-family: "Alegreya", serif;
}

.cool {
  border-radius: 25%;
  width: 560px;
  height: auto;
  padding-right: 300px;
  padding-top: 20px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 20%;
  padding-top: 10px;
}

.container-project {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #000; */
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Alegreya", serif;
}

.container-aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #000; */
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Alegreya", serif;
}

.aboutme-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  /* border: 1px solid #000; */
}

.work-icon {
  border-radius: 10%;
  width: 240px;
  height: auto;
}

.work-icon:hover {
  transform: scale(1.1);
}

.project-text {
  font-size: 20px;
  font-family: "Alegreya", serif;
}

.school-top {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #000; */
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: "Alegreya", serif;
}

.school-h2 {
  margin: 1px;
}

.school-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #000; */
  gap: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Alegreya", serif;
}

.school-logo {
  border-radius: 10%;
  width: 240px;
  height: 70px;
  background-color: rgb(253, 253, 253);
}

.school-logo:hover {
  transform: scale(1.1);
}

.school-h4 {
  margin: 1px;
  font-size: 25px;
  font-family: "Alegreya", serif;
  color: #1098ad;
}

.school-h5 {
  margin: 2px;
  font-size: 16px;
  font-family: "Alegreya", serif;
}

.school-h6 {
  margin: 2px;
  font-size: 15px;
  font-family: "Alegreya", serif;
  color: #545252;
}

.school-p {
  border-radius: 2%;
  margin: 10px;
  font-size: 18px;
  font-family: "Alegreya", serif;
  /* color: #444; */
  /* background-color: rgba(156, 195, 195, 0.195); */
  background-color: #1098ad23;
}

.school-ol {
  font-size: 18px;
  font-family: "Alegreya", serif;
  color: #444;
}

.p-size {
  width: 600px;
  height: auto;
}

.bot-box {
  margin-bottom: 10px;
}

/* Xiao's codes*/

/* styles for working experience
 */
table.workExperience {
  border-collapse: collapse;
  margin-left: 20%;
  margin-right: 20%;
}
td.year,
td.tdLogo {
  border-right: 1px solid gray;
  padding-right: 20px;
  text-align: right;
}
td.tdLogo {
  vertical-align: top;
}
h2.companyName {
  padding-top: 20px;
}
td.eachExperience {
  padding-left: 20px;
}
ul.experienceList {
  padding-left: 15px;
  padding-bottom: 20px;
}
img.companyLogo {
  width: 80px;
}

/* styles for skills */
div.SkillBlock {
  margin-left: 20%;
  margin-right: 20%;
}
.progressBar {
  width: 70%;
  height: 20px;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.progress {
  height: 100%;
  border-radius: 5px 0 0 5px;
  background-image: linear-gradient(to right, lightblue, blue);
}
.htmlProgress {
  width: 50%;
}
.cssprogress {
  width: 60%;
}
.javaprogress {
  width: 90%;
}
.pythonprogress {
  width: 50%;
}
.csharpprogress {
  width: 70%;
}
.sqlprogress {
  width: 80%;
}
.SkillBlock ol li {
  float: left;
  width: 47%;
  list-style-type: none;
}

.SkillBlock ol li:nth-child(even) {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* styles for contact */
div.mainContact {
  width: 100%;
}
table.tableContact {
  width: 60%;
  margin: 20px auto;
}

/* Xiao's codes */
